:root{
    --product-detailsbox: #F6F6F5;
    --product-cart-button: #BFABAB;
    --product-cart-button-text: #4D4D4D;
    --products-reel: #FFFFFA;
    --height: 100vh;
    --width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato';
}


h1{
    font-size: 28px;
}

p{
    font-weight: light;
    font-size: 14px;
}
