/* mobile media quieries for product section */
@media screen and (max-width: 414px){

    .product-image{
        object-fit: contain;
        width: 100%;
    }

    .product-wrapper{
        flex-direction: column;
        height: fit-content !important;
        width: 100%;
    }

    .bread-crumbs-container{
        width: 100%;
        padding: 16px 2em 0px;
        font-size: .59em;
    }

    .product-description-container{
        padding: 0 !important;
        height: fit-content !important;
        width: 100%;
    }

    .product-description {
        padding: 1em 1em 2em;
        height: fit-content;
        max-width: 100%;
        margin: 0 auto;
    }

    .product-description article header {
        margin-top: 5px !important;
        height: 5.5em;
    }

    .product-description article header h2 {
        margin-top: 25px;  
        font-size: 1.1em;
    }

    .product-description article header h4{
        font-size: .8em;
    }

    .product-description article summary {
        font-size: .77em;;
        height: 10em !important;
    }
    
    .product-specification{
        height: 5.9em;
    }

    .product-specification-list li picture img{
        width: 90%;
    }

    .product-specification p {
        font-size: .68em;
        font-weight: 700;
        margin-left: 0 !important;
    }

    .product-specification:nth-child(2n+2) > p{
        margin-left: auto !important;
        margin-right: 0 !important;
    }

    .product-specification:nth-child(2n+2) > img{
        margin: 0 .1em 0 .5em;
        width: 35%;
    }

    .product-cart-button{
        max-width: 100%;
    }
}