/* mobile media quieries for product section */
@media screen and (max-width: 414px){

    .product-image{
        object-fit: contain;
        width: 100%;
    }

    .product-wrapper{
        flex-direction: column;
        height: fit-content !important;
        width: 100%;
    }

    .bread-crumbs-container{
        width: 100%;
        padding: 10px 26px;
    }

    .product-description-container{
        padding: 0 !important;
        height: 660px !important;
        width: 100%;
    }

    .product-description {
        max-width: 362px;
        max-height: 600px;
        margin: 0 auto;
    }

    .product-description article header {
        margin-top: 5px !important;
    }

    .product-description article header h2 {
        margin-top: 25px;
    }
    
    .product-specification p{
        font-size: 13.5px;
    }

    .product-specification:nth-child(2n+2) > img{
        margin-left: 15px;
    }

    .product-cart-button{
        max-width: 100%;
    }
}