/* stylesheet for slider section */

.suggestions-wrapper{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.suggestions-wrapper h2{
    margin: auto;
    padding: .5em;
}

.slider::-webkit-scrollbar{
    display: none;
}

.slider{
    display: flex;
    width: 95%;
    height: 605px;
    margin: auto;
    border: dashed 1px black;
    overflow: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider ul{
    display: flex;
}

.slider-item{
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 580px;
    margin: 0 30px auto 0;
    border: dashed 1px black;
}

.slider-item:nth-child(n+2){
    margin: 0 30px auto;
}

.slider-item p:nth-child(2){
    margin-top: 10px;
    color: var(--product-cart-button-text);
}

.slider-item p:nth-child(3){
    margin-top: 2px;
    font-weight: 400;
    font-size: 13px;
}

.slider-item p:nth-child(4){
    margin-top: auto;
    font-size: 18px;
    color: var(--product-cart-button-text);
}

.slider-item-image{
    height: auto;
    width: 380px;
}